@import url(/assets/css/footer/index.css);
@import url(/assets/css/faq-contact/index.css);
@import url(/assets/css/products/index.css);
@import url(/assets/css/hero/index.css);
@import url(/assets/css/header/index.css);
@import url(reset.css);

:root {
    --primary-color: #2f58e2;
    --white-color: #FCFCFC;
    --black-color-1: #696969;
    --black-color-2: #4D4D4D;
    --black-color-3: #333333;
    --black-color-4: #18171B;
    --gray-color-1: #CCCCCC;
    --gray-color-2: #B3B3B3;
    --gray-color-3: #999999;
    --gray-color-4: #808080;

    --z-index-negative: -1;
    --z-index-1: 1;
    --z-index-2: 2;
    --z-index-3: 3;
    --z-index-4: 4;
}

body {
    width: 100%;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* GLOBAL */
ul {
    padding: 0;
}
li {
    list-style: none;
}
li::before {
    content: "\200B";
}

img {
    max-width: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

h2 {
    color: var(--black-color-4);
    font-size: 1.5rem;
    line-height: 120%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-self: center;
    padding: 0 1rem;
}

.wrapper.hero__bg, .header, .navbar {
    background-color: #2f58e2;
}

.link__wpp {
    display: flex!important;
    align-items: center;
    justify-content: center;

    position: fixed;
    right: 40px;
    bottom: 40px;

    width: 55px;
    height: 55px;
    border-radius: 50px;

    color: var(--white-color);
    font-size: 1.85rem!important;
    text-decoration: wavy;
    z-index: var(--z-index-4);

    box-shadow: 0 1px 4px var(--black-color-4);
    background-color: #25d366;
}

@media (min-width: 800px) {
    .wrapper {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .wrapper.hero__bg, .header, .navbar {
        background: none;
    }
    .header, .hero {
        z-index: var(--z-index-1);
    }
    .bg-destaque {
        width: 100%;
        max-height: 660px;
        height: 100vh;
        color: var(--white-color);
        background: linear-gradient(-45deg, var(--white-color) 26%, var(--primary-color) 26%) no-repeat;
    }
    .bg-destaque::before {
        content: "";
    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 660px;
    
        background-image: url('/assets/img/bg-square.svg');
        background-size: 35px;
        opacity: 0.05;
        z-index: var(--z-index-1);
    }
}
